body{
    background: url('img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin: 20px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{color:#fff;}

.avatar {
    margin: 20px;
    text-align: center;
    border-radius: 25%;
}

.demo-avatar {
    border-radius: 25%;
    margin-right: 10px;
}

.list-avatar {
    border-radius: 25%;
    margin-right: 10px;
}

tr th{
    color:#fff;
}

.name {
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.29);
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.panel-default{
    background-color: rgba(0, 0, 0, 0.29)!important;
    border-color: rgba(255, 255, 255, 0.13)!important;
}
.panel .table{
    color: #fff;
}
.panel a{
    color: #fff;
    text-decoration: underline;
}

.container {
    max-width: 1000px;
}

.navbar-default{
    background: #1a222a; /* Old browsers */
    background: -moz-linear-gradient(left,  #1a222a 0%, #404850 50%, #182128 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a222a), color-stop(50%,#404850), color-stop(100%,#182128)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1a222a 0%,#404850 50%,#182128 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1a222a 0%,#404850 50%,#182128 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1a222a 0%,#404850 50%,#182128 100%); /* IE10+ */
    background: linear-gradient(to right,  #1a222a 0%,#404850 50%,#182128 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a222a', endColorstr='#182128',GradientType=1 ); /* IE6-9 */;
    border-color: #182128;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
                                            background: rgba(90,95,100,0.7);
                                            line-height:30px;
                                        }

.navbar-brand, .navbar-nav>li>a{
    text-shadow: none !important;
    color: #FFF !important;
    padding-top: 20px !important;
    border-left: 1px solid rgb(35,39,43);
    border-right: 1px solid rgb(35,39,43);
    transition: all 0.3s ease;
    line-height: 30px;
}

.my-nav-button {
    display: block;
    padding: 10px 15px;
    padding-bottom: 15px;
    padding-top: 20px !important;
}

.panel-default>.panel-heading{
    color: #fff;
    border-bottom: #333;
    background-image: -moz-linear-gradient(left,  #1a222a 0%, #404850 50%, #182128 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a222a), color-stop(50%,#404850), color-stop(100%,#182128)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left,  #1a222a 0%,#404850 50%,#182128 100%); /* Chrome10+,Safari5.1+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a222a), color-stop(50%,#404850), color-stop(100%,#182128));
}

#stats-tables, #tabs {
    text-align: center;
}
#stats-tables .table, #weapon-stats {
    width: auto;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

#weapon-stats{
    width: auto;
    color: #fff;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
                                    color:#333;
                                }
.table-hover>tbody>tr>td,.table-hover>tbody>tr>th{
    color:#fff;
}
#stats-tables{
    background: rgba(0, 0, 0, 0.29);
    margin-bottom: 15px;
    border-radius: 6px;
    color: #FFFAFA;
    padding: 22px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.player-stats{
    width: 25%;
    display: block;
    background: rgba(46, 55, 62, 0.6);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}
.player-stats:first-of-type{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.player-stats:last-of-type{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.player-stats p{
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
.player-stats span{
    border-radius: 4px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.tab-content{
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(0, 0, 0, 0.29);
    border-radius: 6px;
    margin-top:20px;
}
.nav-tabs{border: none !important;}

.nav-tabs>li>a{
    padding: 5px 15px !important;
    border-radius: 6px !important;
    transition: all 0.3s ease;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
                                                        color: #fff !important;
                                                        background-color: rgba(0, 0, 0, 0.29)!important;
                                                        border: 1px solid rgba(255, 255, 255, 0.13)!important;
                                                    }
.nav-tabs>li>a:hover {
    border-color: #333;
    background: rgba(0, 0, 0, 0.29);
    color: #fff;
}
#demos {
    display: table;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.demo-winner{
    background: rgba(22, 28, 33, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.29);
    padding: 10px;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
                                    background: rgba(22, 28, 33, 0.7);
                                    border: 1px solid rgba(0, 0, 0, 0.29);
                                    color: #fff;
                                }
div.demoDiv {
    width: 884px;
    display: inline-block;
}

a {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.player-list li {
    font-size: 120%;
    padding: 4px;
    list-style-type: none;
}

.red { color: red; }
.green { color: rgb(10, 250, 10); }
.blue { color: blue; }
.lightblue { color: #428BCA; }
.won_background { background-color:rgba(31, 52, 36, 0.81); color: #fff; cursor: pointer; }
.lost_background { background-color: rgba(190, 93, 93, 0.17); color:#fff; cursor: pointer; }
.tied_background { background-color: rgba(16, 84, 140, 0.53); color:#fff; cursor: pointer; }

.score {
    display: inline-block;
    width: 2em;
}

.notes {
    display: inline-block;
    text-align: left;
    height: 6em !important;
    padding: 5px;
}

.well {
    background-color: #182128;
    color: #fff;
    border: 1px solid #182128;
    box-shadow: none;
    word-wrap: break-word;
    width: 90%;
    background: #182128;
    margin-left: 36px;
    color: #fff;
    border: #182128;
}
#notes-container .well{
    width:inherit;
    margin: 0;
    margin-bottom: 10px;
    background:rgba(22, 28, 33, 0.7);
    border-color: rgba(0, 0, 0, 0.29);
    color: #fff;
}
#notes-container .form-control{
    background:rgba(22, 28, 33, 0.7) !important;
    border-color: rgba(0, 0, 0, 0.29) !important;
}

#notes-container .row {
    width: 15em;
}

.input-group {
    padding: 10px;
}

.input-group-addon{
    background-color: #182128;
    border: 1px solid #182128;
    color:#fff;
}

.table .table {
    background-color: rgba(22, 28, 33, 0.7) !important;
    color: #fff !important;
}

.force-white {
    color: #fff !important;
}

.file-path{
    text-align: center;
    background: rgba(22, 28, 33, 0.7);
    width: 890px;
    float: left;
    padding: 7px;
    border-radius: 4px;
}

.form-control{
    color: #FFF;
    background-color: rgba(46, 55, 62, 0.6);
    border: 1px solid rgba(236, 236, 236, 0.52);
}
.steam-api-link{
    color:#428bca !important;
}
#theme-select {
    margin: 0 auto;
    text-align: center;
}
#theme-select p{
    color: #fff;
}

.search-box input {
    width: 87%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}
.search-box button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.help-button{
    margin-right: 29px;
    border-radius: 69%;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 6px 10px;
    text-shadow: none;
}

#demo-dir-help button,
#steam-api-help button{
    margin-right: 0px;
    padding: 3px 4px;
}

#searchround {
    float:right;
}

.github-link{
    font-size: 24px;
}

.teammate {
    background: inherit;
    color: white;
    border: none;
}

.teammates-box {
    box-shadow: none;
}

.remove-teammate {
    border-radius: 69%;
}

.no-bg {
    background-image: none;
}

.my-input-group {
    padding: 10px 14px !important;
}

.teammates-list {
    background: inherit;
    color: white;
}

.banned-text {
    color: white;
}

.nopadding {
   padding-right: 0 !important;
   padding-left: 0 !important;
}

.tilted {
    transform: rotate(15deg);
}