<nav class="navbar navbar-default" ng-app="hsboxApp" ng-controller="Navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="img/hsbox.png" width=32>
        HeadshotBox {{version}}
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $scope.active == 'player_list'}"><a href="#/player_list" ng-click="$scope.active = 'player_list'"><i class="fa fa-users"></i> Player List<span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $scope.active == 'settings'}"><a href="#/settings" ng-click="$scope.active = 'settings'"><i class="fa fa-cogs"></i> Settings</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="newVersionAvailable">
          <h5><span class="label label-default">New version available!</span></h5>
        </li>
        <li>
          <a class="github-link" href="https://github.com/bugdone/headshotbox/releases">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
