<div class="container">
  <div class="name">
    <a href="http://steamcommunity.com/profiles/{{steamid}}">
      <img class="avatar" ng-src="{{player.avatarfull ? player.avatarfull : 'img/avatar.jpg'}}" width="64"/>
    </a>
    {{player.personaname ? player.personaname : player.name}}
  </div>

  <div id="stats-tables" class="center-block">
    <table class="table player-stats">
      <tr>
        <th>Win %</th>
        <td>{{stats.won / (stats.won + stats.lost) * 100 | number:2}}</td>
      </tr>
      <tr>
        <th>Won</th>
        <td>{{stats.won}}</td>
      </tr>
      <tr>
        <th>Tied</th>
        <td>{{stats.tied}}</td>
      </tr>
      <tr>
        <th>Lost</th>
        <td>{{stats.lost}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{stats.won + stats.tied + stats.lost}}</td>
      </tr>
    </table>
    <table class="table player-stats">
      <tr>
        <th><abbr title="Kill/Death Ratio">KDR</abbr></th>
        <td ng-class="{green: stats.kills >= stats.deaths, red: stats.kills < stats.deaths}">{{stats.kills / stats.deaths  | number:2}}</td>
      </tr>
      <tr>
        <th><abbr title="Headshot Percent">HS %</abbr></th>
        <td>{{stats.hs_percent | number:2}}</td>
      </tr>
      <tr>
        <th>Rating <a href="http://www.hltv.org/?pageid=242" title="HLTV Rating" style="color: black">(?)</th>
        <td>{{stats.rating  | number:2}}</td>
      </tr>
      <tr>
        <th><abbr title="1v1 rounds won / attempted ({{stats.1v1_won}}/{{stats.1v1_attempted}})">Clutch %</abbr></th>
        <td>{{stats.1v1_won / stats.1v1_attempted * 100 | number:2}}</td>
      </tr>
    </table>
    <table class="table player-stats">
      <tr>
        <th><abbr title="Kills Per Round">KPR</abbr></th>
        <td>{{stats.kills / stats.rounds | number:2}}</td>
      </tr>
      <tr>
        <th><abbr title="Assists Per Round">APR</abbr></th>
        <td>{{stats.assists / stats.rounds | number:2}}</td>
      </tr>
      <tr>
        <th><abbr title="Deaths Per Round">DPR</abbr></th>
        <td>{{stats.deaths / stats.rounds | number:2}}</td>
      </tr>
    </table>
    <table class="table player-stats">
      <tr>
        <th><abbr title="Rounds with 3 kills">3K</abbr></th>
        <td>{{stats.rounds_with_kills[3]}}</td>
      </tr>
      <tr>
        <th><abbr title="Rounds with 4 kills">4K</abbr></th>
        <td>{{stats.rounds_with_kills[4]}}</td>
      </tr>
      <tr>
        <th><abbr title="Rounds with 5 kills">5K</abbr></th>
        <td>{{stats.rounds_with_kills[5]}}</td>
      </tr>
    </table>
  </div>

  <div id="tabs" class="center-block">
    <tabset>
      <tab heading="Demos">
        <table id="demos" class="table">
          <thead>
            <tr>
              <th class="text-left"><a ng-click="orderDemos = (orderDemos  == '-timestamp' ? 'timestamp' : '-timestamp')">Date</a></th>
              <th class="text-center">Type</th>
              <th class="text-left">Map</th>
              <th class="text-center">Score</th>
              <th class="text-center"><a ng-click="orderDemos = '-kills'">Kills</a></th>
              <th class="text-center">Assists</th>
              <th class="text-center">Deaths</th>
              <th class="text-center"><a ng-click="orderDemos = '-kdd'"><abbr title="Kill-Death Difference">KDD</abbr></a></th>
              <th class="text-center"><a ng-click="orderDemos = '-hs_percent'"><abbr title="Headshot Percent">HS %</abbr></a></th>
              <th class="text-center">Watch</th>
            </tr>
          </thead>
          <tbody ng-repeat="demo in demos | orderBy:orderDemos">
            <tr ng-class="{won_background: demo.outcome == 'won', lost_background: demo.outcome == 'lost', tied_background: demo.outcome == 'tied'}" data-ng-click="makeVisible(demo.demoid)">
              <td class="text-left">{{demo.date}}</td>
              <td class="text-center"><img ng-src="img/{{demo.type}}.png" width="50"/></td>
              <td class="text-left">{{demo.map}}</td>
              <td class="text-center">
                <span class="score text-right">
                  <i class="fa fa-flag-o" title="Surrendered" ng-if="demo.surrendered && demo.outcome == 'lost'"></i>
                  {{demo.score[0]}}
                </span>
                -
                <span class="score text-left">{{demo.score[1]}}
                  <i class="fa fa-flag-o" title="Surrendered" ng-if="demo.surrendered && demo.outcome == 'won'"></i>
                </span>
              </td>
              <td class="text-center">{{demo.kills}}</td>
              <td class="text-center">{{demo.assists}}</td>
              <td class="text-center">{{demo.deaths}}</td>
              <td class="text-center" ng-class="{green: demo.kdd >= 0, red: demo.kdd < 0}">{{demo.kdd | signed}}</td>
              <td class="text-center">{{demo.hs_percent | number:2}}</td>
              <td class="text-right" ng-click="$event.stopPropagation()">
                <a class="btn btn-success btn-xs" href='{{watchDemoUrl(demo.path, steamid)}}'><i class="fa fa-play-circle"></i></a>
                <a class="btn btn-primary btn-xs" href='{{watchDemoUrl(demo.path, steamid, undefined, true)}}'>Highlights</a>
                <a class="btn btn-primary btn-xs" href='{{watchDemoUrl(demo.path, steamid, undefined, "lowlights")}}'>Lowlights</a>
              </td>
            </tr>
            <tr ng-if="isVisible(demo.demoid)">
              <td colspan="10">
                <div ng-include src="'templates/demo.html'"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>

      <tab heading="Weapon Stats">
        <table id="weapon-stats" class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th><a ng-click="orderWeapons = 'name'">Weapon</a></th>
              <th><a ng-click="orderWeapons = '-kills'">Kills</a></th>
              <th><a ng-click="orderWeapons = '-hs'">HS</a></th>
              <th><a ng-click="orderWeapons = '-hs_percent'"><abbr title="Headshot Percent">HS %</abbr></a></th>
            </tr>
          </thead>
          <tr ng-repeat="weapon in stats.weapons | orderBy:orderWeapons">
            <td style="text-align: left"><img ng-src="img/weapons/icon-{{weapon.name}}_grey.png" ng-if="weapon.name" height="20"/></td>
            <td style="text-align: left">{{weapon.name}}</td>
            <td>{{weapon.kills}}</td>
            <td>{{weapon.hs}}</td>
            <td>{{weapon.hs_percent | number:2}}</td>
          </tr>
        </table>
      </tab>

      <tab heading="Search Round">
        <div ng-include src="'templates/search_round.html'"></div>
      </tab>

    </tabset>
  </div>
</div>
