<h1>Player List</h1>
<div class="col-md-3"></div>
<div class="col-md-6 panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th class="text-center"><a ng-click="orderPlayers = '-(last_rank == null ? 0 : last_rank)'">MM Rank</a></th>
          <th class="text-center"><a ng-click="orderPlayers = '-demos'">Demos</a></th>
        </tr>
      </thead>
      <tr ng-repeat="player in players | orderBy:orderPlayers">
        <td>
          <a href="http://steamcommunity.com/profiles/{{player.steamid}}" ng-if="player.avatar"><img ng-src="{{player.avatar}}" class="list-avatar"/></a>
          <a href="#/player/{{player.steamid}}">{{player.personaname ? player.personaname : player.name}}</a>
        </td>
        <td class="text-center">
          <img ng-if="player.last_rank" ng-src="img/ranks/{{player.last_rank}}.png" width="50"/>
        </td>
        <td class="text-center">
          {{player.demos}}
        </td>
      </tr>
    </table>
    <div class="text-center">
      <pagination direction-links="false"
                  boundary-links="true"
                  boundary-link-numbers="true"
                  total-items="playerCount"
                  ng-model="currentPage"
                  items-per-page="playersPerPage"
                  max-size="10"
                  rotate="true"
                  ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group btn-group dropdown inline">
    <button type="button" class="btn btn-default dropdown-toggle no-bg">
      Folder: {{folder ? folder : "ALL"}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="folder in folders"><a ng-click="setFolder(folder)">{{folder ? folder : "ALL"}}</a></li>
    </ul>
  </div>
</div>
