<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default panel-center">
      <div class="panel-heading">
        Settings
      </div>

      <div class="panel-body">
        <div class="dropdown theme-select form-group">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Select theme
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a href="javascript:;" onclick="setActiveStyleSheet('dark'); return false;">Select Dark theme</a></li>
            <li role="presentation"><a href="javascript:;" onclick="setActiveStyleSheet('light'); return false;">Select Light theme</a></li>
          </ul>
        </div>

        <div ng-if="isAuthorized">
          <div class="form-group">
            <button class="btn btn-default" ng-click="invertIndexerState()">
              {{indexerRunning == true ? 'Pause Demo Analyzer' : (indexerRunning == false ? 'Resume Demo Analyzer' : '')}}
            </button>
          </div>

          <form ng-submit="updateSettings()">
            <div class="form-group input-group">
              <span class="input-group-addon">Demo directory</span>
              <input type="text"
                     class="form-control"
                     aria-describedby="demo-dir-help"
                     ng-model="config.demo_directory">
              <span class="input-group-addon" id="demo-dir-help">
                <button type="button"
                        class="btn btn-default btn-xs glyphicon glyphicon-question-sign"
                        ng-click="demoDirectoryCollapsed = !demoDirectoryCollapsed">
                </button>
              </span>
            </div>
            <div collapse="demoDirectoryCollapsed">
              <div class="well well-lg text-left">
                HeadshotBox indexes demos present in this directory.<p/>
                If you download demos from the Watch tab in-game (or with certain other third party software),
                for each demo <em>demo.dem</em> a file <em>demo.dem.info</em> will be present in that directory.
                This contains the scoreboard information you can see in the Watch tab in-game by clicking Open Scoreboard on a demo.
                If the <em>.dem.info</em> file is present for a demo, HeadshotBox uses it to extract the timestamp of the demo.
                Otherwise, the date of the demo file is used.
                <p/>
                <b>Warning!</b> If you delete or rename a demo, the notes attached to that demo will be deleted.
                If you change the demo directory path <b>all</b> notes will be deleted.
              </div>
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon">Steam Web API Key</span>
              <input type="text"
                     class="form-control"
                     aria-describedby="steam-api-help"
                     ng-model="config.steam_api_key">
              <span class="input-group-addon" id="steam-api-help">
                <button type="button"
                        class="btn btn-default btn-xs glyphicon glyphicon-question-sign"
                        ng-click="steamApiCollapsed = !steamApiCollapsed">
                </button>
              </span>
            </div>
            <div collapse="steamApiCollapsed">
              <div class="well well-lg text-left">
                The Steam Web API key is used to fetch the latest name, avatar and VAC status for steam accounts.<br/>
                You can get you own key <a href="http://steamcommunity.com/dev/apikey" class="steam-api-link">here</a>.
              </div>
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon">Minimum number of demos needed to show up in "Player List"</span>
              <input type="number"
                     min="1"
                     class="form-control"
                     ng-model="config.playerlist_min_demo_count">
            </div>

            <h4>Demo Playback</h4>
            <div class="form-group input-group">
              <span class="input-group-addon"><input type="checkbox" ng-model="config.demowebmode"></span>
              <span class="form-control">Run in WEB-mode (for Servers)</span>
              <span class="input-group-addon" id="demowebmode-help">
                <button type="button"
                        class="btn btn-default btn-xs glyphicon glyphicon-question-sign"
                        ng-click="demowebmodeCollapsed = !demowebmodeCollapsed">
                </button>
              </span>
            </div>
            <div collapse="demowebmodeCollapsed">
              <div class="well well-lg text-left">
                If you are running Headshotbox on a public server enabling this setting will allow the <em>watch</em> links to work.<br />
                -> This expects the user to <em>download</em> the demo and save it to the <em>CSGO/replays</em> folder.<br />
                <i>(SteamApps\common\Counter-Strike Global Offensive\csgo\replays)</i><br />
                <br />
                <b>This will also disable the VDM scripting below as these files are not downloaded by the user.</b>
              </div>
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon"><input type="checkbox" ng-model="config.playdemo_kill_csgo" ng-disabled="config.demowebmode"></span>
              <span class="form-control" ng-disabled="config.demowebmode">Kill CSGO if running before playing a demo</span>
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon"><input type="checkbox" ng-model="config.vdm_enabled" ng-disabled="config.demowebmode"></span>
              <span class="form-control" ng-disabled="config.demowebmode">Enable VDM scripting</span>
              <span class="input-group-addon" id="vdm-help">
                <button type="button"
                        class="btn btn-default btn-xs glyphicon glyphicon-question-sign"
                        ng-click="vdmCollapsed = !vdmCollapsed">
                </button>
              </span>
            </div>
            <div collapse="vdmCollapsed">
              <div class="well well-lg text-left">
                When enabled, a <em>.vdm</em> file is written to disk in the same directory where the demo that needs to be played resides.
                When playing <em>demo_name.dem</em>, CSGO uses the file <em>demo_name.vdm</em> if present to execute a set of commands during demo playback.
                <p/>
                This is used by Headshot Box to:
                <ul>
                  <li>select the player to spectate once the demo playback starts</li>
                  <li>quit when the round ends (if this option is enabled)</li>
                  <li>execute a cfg file when demo playback starts (if this option is enabled)</li>
                </ul>
                <p/>
                See <a href="https://developer.valvesoftware.com/wiki/Demo_Recording_Tools#Demo_editor">this</a> for more information about VDM files.
                <p/>
                <i class="fa fa-exclamation-triangle"></i> CSGO always executes the .vdm file if it exists.
                If you use other means than Headshot Box to launch a demo playback and you used the VDM scripting feature, delete the generated VDM files.
              </div>
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon" ng-disabled="!config.vdm_enabled || config.demowebmode">cfg to execute</span>
              <input type="text"
                     class="form-control"
                     ng-model="config.vdm_cfg"
                     ng-disabled="!config.vdm_enabled || config.demowebmode">
            </div>

            <div class="form-group input-group">
              <span class="input-group-addon"><input type="checkbox" ng-model="config.vdm_quit_after_playback" ng-disabled="!config.vdm_enabled || config.demowebmode"></span>
              <span class="form-control" ng-disabled="!config.vdm_enabled || config.demowebmode">Quit on round end</span>
              </span>
            </div>

            <button class="btn btn-default" ng-click="vdm_delete_files()">Delete VDM files generated by Headshot Box</button>

            <div class="text-center">
              <input type="submit" value="Update" class="btn btn-default">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
