<div class="form-group">
  <app-dropdown label="Folder: $" [(value)]="current.folder" (valueChange)="emit()" nullDisplay="ALL" [items]="folders"></app-dropdown>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-default">
      Demo type {{current.demoType}} <span class="caret"></span>
    </button>
    <ul dropdownMenu role="menu">
      <li><a (click)="setDemoType(null)">All</a></li>
      <li><a (click)="setDemoType('valve')"><img src="img/valve.png" width="50"/></a></li>
      <li><a (click)="setDemoType('esea')"><img src="img/esea.png" width="50"/></a></li>
      <li><a (click)="setDemoType('faceit')"><img src="img/faceit.png" width="50"/></a></li>
      <li><a (click)="setDemoType('cevo')"><img src="img/cevo.png" width="50"/></a></li>
    </ul>
  </div>

  <app-dropdown label="Map: $" [(value)]="current.mapName" (valueChange)="emit()" nullDisplay="All" [items]="playerMaps"></app-dropdown>
  <app-dropdown label="$ Rounds" [(value)]="current.rounds" (valueChange)="emit()" nullDisplay="All" [items]="[null, 'T', 'CT', 'Pistol']"></app-dropdown>
</div>

<app-datepicker label="Start" [(value)]="startDate" (valueChange)="setStartDate($event)"></app-datepicker>
<app-datepicker label="End" [(value)]="endDate" (valueChange)="setEndDate($event)" [minDate]="startDate"></app-datepicker>

<app-teammates-picker [steamid]="steamid" [(value)]="current.teammates" (valueChange)="emit()" class="form-group"></app-teammates-picker>
